<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haystack.saifkhan.haystack" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/red" >
        <activity
            android:name=".uI.AccountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uI.EnterRoomActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/red"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".uI.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".uI.CreateAccountActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:label="@string/title_create_account" >
        </activity>
        <activity
            android:name=".uI.LoginActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
